extends ../layout/index
block contenido
     div(class="py-2")
        h1(class="text-4xl my-5 font-extrabold text-center") Bienes
            span(class="font-normal") Raíces
        h2(class="text-center text-2xl font-extrabold")=pagina
        
        p(class="text-xl font-normal text-center my-10")=mensaje